<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="BeBetterApp.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <BeBetterApp.Properties.Settings>
            <setting name="OPENAI_KEY" serializeAs="String">
                <value>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</value>
            </setting>
        </BeBetterApp.Properties.Settings>
    </applicationSettings>
</configuration>